# Exercise 1 B

### Import Necessary Libraries

In [114]:
import pandas as pd
import numpy as np
print("Setup Complete")

Setup Complete

In [115]:
# Path of the file to read
stroke_filepath = "../datasets/healthcare-dataset-stroke-data.csv"

# Read the file into a variable stroke_data
stroke_data = pd.read_csv(stroke_filepath, index_col="id")

# Set seed for reproducibility
np.random.seed(0)

## Handling missing values

In [116]:
# Check columns with missing values
stroke_data.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [117]:
# Replace "Unknown" smoking_status with NaN value
stroke_data_smoking_nan = stroke_data.replace(["Unknown"], np.nan)

In [118]:
# Check columns with missing values
stroke_data_smoking_nan.isnull().sum()

gender                  0
age                     0
hypertension            0
heart_disease           0
ever_married            0
work_type               0
Residence_type          0
avg_glucose_level       0
bmi                   201
smoking_status       1544
stroke                  0
dtype: int64

### Drop columns with missing values

In [119]:
# Get names of columns with missing values
cols_with_missing = [col for col in stroke_data_smoking_nan.columns if stroke_data_smoking_nan[col].isnull().any()]

# Drop columns in data
dropped_columns_data = stroke_data_smoking_nan.drop(cols_with_missing, axis=1)

In [120]:
# Check columns with missing values
dropped_columns_data.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
stroke               0
dtype: int64

### Fill missing values with column mean

In [121]:
fill_mean_data = stroke_data.fillna(stroke_data.mean())
fill_mean_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

### Fill missing values with linear regression

In [126]:
df = stroke_data['bmi'].interpolate(method='linear', inplace=True, limit_direction="both")
stroke_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.60,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,34.55,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.50,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.40,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.00,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
18234,Female,80.0,1,0,Yes,Private,Urban,83.75,29.30,never smoked,0
44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.00,never smoked,0
19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.60,never smoked,0
37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.60,formerly smoked,0
44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.20,Unknown,0